@media screen and (max-width: 625px) {
   *{
    margin: 0;
    padding: 0;
  }
#containerPrincipal {
    position: absolute;
   height: 110vh;
    width: 110vw;
    left: 48%;
    top: 55%;
    transform: translate(-49%, -52%);
    background: cover;
    background-color: hsl(222, 26%, 31%);
    
}
 #barraTema {
    position: absolute;
     margin-top: 70px;
     width: 100vw;
     height: 100vh;
    margin-left: 30px;
     border-radius: 10px;
    
  
 }
 #calcEsquerda{
     position: absolute;
     margin-top: 20px;
    margin-left: 3%;
    color: white;
    font-size: 14pt;
 }
  #tema{
      font-size: 12pt;
      position: absolute;
    margin-left: 48%;
    margin-top: 20px;
    color: white;
 }
 #seletor {
     display: inline-flex;
     font-Family: Spartan;
     margin-top: -15px;
     margin-left: 65%;
     position: absolute;
     color: white;
     
 }
 #tema1 {
     font-size: 12pt;
     padding-left: 4px;
 }
 #tema2 {
     font-size: 12pt;
     padding-left: 20px;
 }
 #tema3 {
     font-size: 12pt;
     padding-left: 19px;
 }
 #botTema {
    
     position: absolute;
     display: inline-flex;
     margin-left: 65%;
     margin-top: 10px;
     height: 25px; 
     width: 75px;
     padding: 3px;
     border-radius: 25px;
    background-color:  hsl(224, 36%, 15%);
 }
 #pos1 {
     border: none;
   height: 18px;
    width: 18px;
     border-radius: 60px;
     background-color:  hsl(6, 63%, 50%);
 }

 #pos2 {
     border: none;
     border-radius: 60px; 
  height: 18px;
    width: 18px;
    margin-left: 15px;
     background-color:  hsl(224, 36%, 15%);
 }
 #pos3 { 
     border: none;
     border-radius: 60px; 
   height: 18px;
    width: 18px;
     margin-left: 10px;
     
     background-color:  hsl(224, 36%, 15%);
 }
 #resultado {
   text-align: right;
   border: none;
    position: absolute;
     background: hsl(224, 36%, 15%);
     border-radius: 10px;
     width: 85vw;
     height: 60px;
     margin-top: 45px;
     color: white;
     font-size: 30pt;
     margin-left: 3%;
     
 }
 #content {
    padding: 30px;
 }
   #pads {
    margin-left: 3%;
    padding-top: 5px;
    background:  hsl(223, 31%, 20%);
     border-radius: 10px;
     margin-top: 70px;
     width: 85vw;
     height: 450px;
 }

 .imps {
   
     background-color: rgb(235, 240, 226);
     font-Family: Spartan;
    border-radius: 10px;
    border: none;
     width:19%;
     height: 22%;
     color:  hsl(221, 14%, 31%);
     font-size: 20pt;
    box-shadow: rgb(150, 125, 125);
   -webkit-box-shadow: -2px 5px 2px hsl(0, 4%, 5%) ;
  
 margin-left: 4%;
    margin-top: 20px;
  
 }

  #impsDell {
    
    margin-left: 15px;
    margin-top: -10px;
    font-size: 18pt;
    background-color: hsl(225, 21%, 49%);
    color: white;
    box-shadow: white;
   -webkit-box-shadow: -2px 3px 2px hsl(223, 43%, 31%)

 }
  #impsReset {
    margin-left: 5%;
    margin-top: 15px;
    font-size: 15pt;
    width: 45%;
    color: white;
    background-color: hsl(225, 21%, 49%);
      box-shadow: white;
   -webkit-box-shadow: -2px 1px 2px hsl(224, 28%, 35%)
 }
  #resultadoCalc {
    margin-left: 5%;
    margin-top: 15px;
    font-size: 18pt;
    width: 40%;
    color: white;
   background-color: hsl(6, 63%, 50%);
     box-shadow: white;
   -webkit-box-shadow: -2px 1px 2px hsl(6, 70%, 34%)
 }
}


@media screen and (min-width: 626px) {
 
#containerPrincipal {
position: absolute;
    height: 100vh;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(222, 26%, 31%);
    background: cover;
}
 #barraTema {
     margin-left: auto;
     margin-right: auto;
     margin-top: 100px;
     width: 500px;
    
     border-radius: 10px;
    
 }
 #calcEsquerda{
     position: absolute;
     margin-top: -25px;
    margin-left: 5px;
    color: white;
 }
  #tema{
      
      position: absolute;
    margin-left: 350px;
    margin-top: -25px;
    color: white;
 }
 #seletor {
     display: inline-flex;
     font-Family: Spartan;
     margin-top: -45px;
     margin-left: 455px;
     position: absolute;
     color: white;
     
 }
 #tema1 {
     font-size: 14pt;
     padding-left: 5px;
 }
 #tema2 {
     font-size: 14pt;
     padding-left: 20px;
 }
 #tema3 {
     font-size: 14pt;
     padding-left: 25px;
 }
 #botTema {
    
     position: absolute;
     display: inline-flex;
     margin-left: 450px;
     margin-top: -20px;
     height: 25px; 
     width: 90px;
     padding: 3px;
     border-radius: 10px;
    background-color:  hsl(224, 36%, 15%);
 }
 #pos1 {
     border: none;
   height: 18px;
    width: 18px;
     border-radius: 60px;
     background-color:  hsl(6, 63%, 50%);
 }

 #pos2 {
     border: none;
     border-radius: 60px; 
  height: 18px;
    width: 18px;
    margin-left: 15px;
     background-color:  hsl(224, 36%, 15%);
 }
 #pos3 { 
     border: none;
     border-radius: 60px; 
   height: 18px;
    width: 18px;
     margin-left: 10px;
     
     background-color:  hsl(224, 36%, 15%);
 }
 #resultado {
   text-align: right;
   border: none;
    position: absolute;
     background: hsl(224, 36%, 15%);
     border-radius: 10px;
     width: 550px;
     height: 90px;
     margin-top: 45px;
     color: white;
     font-size: 50pt;
     
 }
 #result {
     position: absolute;
     margin-left: 500px;
     margin-top: 5px;
     font-size: 50pt;
     

 } 
 #content {
    padding: 30px;
 }
 #pads {
    
    padding-top: 5px;
    background:  hsl(223, 31%, 20%);
     border-radius: 10px;
     margin-top: 100px;
     width: 550px;
     height: 500px;
 }
 .imps {
     background-color: rgb(235, 240, 226);
     font-Family: Spartan;
    border-radius: 10px;
    border: none;
     width: 100px;
     height: 70px;
     color:  hsl(221, 14%, 31%);
     font-size: 32pt;
    box-shadow: rgb(150, 125, 125);
   -webkit-box-shadow: -2px 5px 2px hsl(0, 4%, 5%) ;
  
 margin-left: 25px;
    margin-top: 25px;
  
 }

 #impsDell {
    
    margin-left: 25px;
    margin-top: -10px;
    font-size: 25px;
    background-color: hsl(225, 21%, 49%);
    color: white;
    box-shadow: white;
   -webkit-box-shadow: -2px 3px 2px hsl(223, 43%, 31%)

 }
 #impsReset {
    margin-left: 25px;
    margin-top: 15px;
    font-size: 15pt;
    width: 250px;
    color: white;
    background-color: hsl(225, 21%, 49%);
      box-shadow: white;
   -webkit-box-shadow: -2px 1px 2px hsl(224, 28%, 35%)
 }
 #resultadoCalc {
    margin-left: 25px;
    margin-top: 15px;
    font-size: 20pt;
    width: 205px;
    color: white;
   background-color: hsl(6, 63%, 50%);
     box-shadow: white;
   -webkit-box-shadow: -2px 1px 2px hsl(6, 70%, 34%)
 }

}


